.mieasy {
  overflow: hidden;

  @media only screen and (max-width: 375px) {
  }

  .content {
    width: 90rem;
    padding: 2.875rem 9.375rem 1rem 9.375rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media only screen and (max-width: 1112px) {
      width: auto;
      padding: 3.75rem 5.375rem 1rem 5.375rem;
    }

    @media only screen and (max-width: 375px) {
      padding: 0 1.25rem 3.125rem 1.25rem;
    }

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      color: #000000;
      text-transform: capitalize;
      margin-bottom: 5.25rem;

      @media only screen and (max-width: 1112px) {
        margin-bottom: 4rem;
      }

      @media only screen and (max-width: 375px) {
        margin-bottom: 0;
      }
    }
  }
}

.step {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  text-align: right;
  color: #000000;
  //text-transform: capitalize;
  padding-bottom: 0.5rem;
}

.one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.625rem;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
  }

  .left {
    position: relative;

    .img01 {
      width: 28.625rem;
      height: 33rem;

      @media only screen and (max-width: 1112px) {
        width: 23.375rem;
        height: 27rem;
      }

      @media only screen and (max-width: 375px) {
        width: 20.9375rem;
        height: 24.25rem;
      }
    }

    .ellipse01 {
      position: absolute;
      top: 12.125rem;
      left: 24.5625rem;
      z-index: -1;

      @media only screen and (max-width: 1112px) {
        left: 18.5625rem;
      }

      @media only screen and (max-width: 375px) {
        left: 12.5625rem;
        top: 7rem;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .top {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      width: 100%;
      border-bottom: 1px solid #4a4a4a;
      margin-bottom: 1rem;

      @media only screen and (max-width: 375px) {
        flex-direction: column;
        align-items: initial;
      }

      .nrcrt {
        font-style: normal;
        font-weight: 200;
        font-size: 4.5rem;
        line-height: 120%;
        text-align: right;
        color: #4a4a4a;
        margin-right: 0.625rem;
      }
    }

    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;
      text-align: right;
      color: #4a4a4a;
      margin-bottom: 2.5rem;
      margin-left: 11.375rem;

      @media only screen and (max-width: 1112px) {
        margin-left: 9rem;
      }

      @media only screen and (max-width: 375px) {
        margin-left: 0;
      }
    }
  }
}

.two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.625rem;
  margin-bottom: 2rem;
  align-items: center;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
    margin-bottom: 3.125rem;
  }

  .left {
    flex: 1;

    .top {
      display: flex;
      align-items: baseline;
      //justify-content: flex-end;
      margin-bottom: 1.5rem;

      @media only screen and (max-width: 375px) {
        flex-direction: column-reverse;
      }

      .nrcrt {
        font-style: normal;
        font-weight: 200;
        font-size: 4.5rem;
        line-height: 120%;
        text-align: left;
        color: #4a4a4a;
        margin-left: 0.625rem;
      }
    }

    .description {
      margin-right: 5rem;

      @media only screen and (max-width: 375px) {
        margin-right: 0;
      }
    }
  }

  .right {
    display: flex;
    flex: 1;
    width: 33rem;
    position: relative;
    //border: 1px solid red;

    @media only screen and (max-width: 1112px) {
      width: 23rem;
      flex: 0 1 auto;
    }

    img {
      width: 33rem;

      @media only screen and (max-width: 1112px) {
        width: 23rem;
        margin: 0 auto;
      }
    }

    .ellipse02 {
      position: absolute;
      top: -2rem;
      left: 40rem;
      overflow: hidden;
      width: 14.625rem;
      height: 14.625rem;

      @media only screen and (max-width: 1112px) {
        top: -3rem;
        left: 17rem;
      }
    }

    .carousel {
      width: 100%;
    }
  }
}

.three {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.625rem;
  align-items: center;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
    margin-top: 3.125rem;
  }

  .left {
    position: relative;

    .img01 {
      width: 28.625rem;
      height: 33rem;
    }

    .img02 {
      @media only screen and (max-width: 1112px) {
        width: 28.4375rem;
        height: 28.4375rem;
      }

      @media only screen and (max-width: 375px) {
        width: 20.9375rem;
        height: 20.9375rem;
      }
    }

    .ellipse01 {
      position: absolute;
      top: 14.9375rem;
      left: -13.125rem;
      z-index: -1;

      @media only screen and (max-width: 1112px) {
        width: 14.625rem;
        height: 14.625rem;
        top: 8rem;
        left: -9rem;
      }

      @media only screen and (max-width: 375px) {
        width: 14.625rem;
        height: 14.625rem;
        top: 4rem;
        left: -5rem;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .top {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      width: 100%;
      border-bottom: 1px solid #4a4a4a;
      margin-bottom: 1rem;

      @media only screen and (max-width: 375px) {
        flex-direction: column;
        align-items: initial;
      }

      .nrcrt {
        font-style: normal;
        font-weight: 200;
        font-size: 4.5rem;
        line-height: 120%;
        text-align: right;
        color: #4a4a4a;
        margin-right: 0.625rem;
      }
    }

    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;
      text-align: right;
      color: #4a4a4a;
      margin-bottom: 2.5rem;
      margin-left: 8.5rem;

      @media only screen and (max-width: 1112px) {
        margin-left: 2rem;
      }
    }
  }
}

.four {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.625rem;
  margin-bottom: 2rem;
  align-items: center;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
    margin-bottom: 0;
  }

  .left {
    flex: 1;

    .top {
      display: flex;
      align-items: baseline;
      //justify-content: flex-end;
      margin-bottom: 1.5rem;

      @media only screen and (max-width: 375px) {
        flex-direction: column-reverse;
      }

      .nrcrt {
        font-style: normal;
        font-weight: 200;
        font-size: 4.5rem;
        line-height: 120%;
        text-align: left;
        color: #4a4a4a;
        margin-left: 0.625rem;
      }

      & .step {
        @media only screen and (max-width: 375px) {
          text-align: left;
        }
      }
    }

    .description {
      margin-right: 2rem;

      @media only screen and (max-width: 1112px) {
        margin-right: 0;
      }
    }
  }

  .right {
    display: flex;
    flex: 1;
    width: 34.6875rem;
    position: relative;
    justify-content: flex-end;

    @media only screen and (max-width: 375px) {
      width: auto;
    }

    .img04 {
      width: 34.6875rem;

      @media only screen and (max-width: 1112px) {
        width: 28.4375rem;
        height: 28.4375rem;
      }

      @media only screen and (max-width: 375px) {
        width: 20.9375rem;
        height: 20.9375rem;
      }
    }

    .ellipse02 {
      position: absolute;
      top: 0;
      left: 40rem;
      overflow: hidden;
      width: 14.625rem;
      height: 14.625rem;

      @media only screen and (max-width: 1112px) {
        top: 2rem;
        left: 25.5rem;
        z-index: -1;
      }

      @media only screen and (max-width: 375px) {
        top: -14rem;
        left: -8rem;
      }
    }

    .carousel {
      width: 100%;
    }
  }
}
.vector {
  background-image: url("/assets/images/Vector.svg");
  background-size: cover;
  height: 3.4375rem;
  position: relative;

  @media only screen and (max-width: 375px) {
    background-image: url("/assets/images/Vector-mobile.svg");
  }

  .ellipse-vector {
    position: absolute;
    left: -2rem;
    top: -5.5rem;
    z-index: -1;

    @media only screen and (max-width: 375px) {
      width: 14.625rem;
      height: 14.625rem;
      left: 12rem;
      top: -26.5rem;
    }
  }
}
