<div class="mieasy">
  <div class="content">
    <h1 class="title">The/Studio Makes It Easy</h1>

    <!-- ONE -->
    <div class="one">
      <div class="left">
        <img src="/assets/images/01.svg" alt="01" class="img01" />
        <img
          src="/assets/images/ellipse-01.svg"
          alt="ellipse01"
          class="ellipse01"
        />
      </div>
      <div class="right">
        <div class="top">
          <div class="nrcrt">
            01
          </div>
          <div class="step">
            Upload Your Logo
          </div>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At amet
          aliquet posuere viverra nunc, a.
        </p>
        <button class="btn btn-green">Get Started</button>
      </div>
    </div>

    <!-- TWO -->
    <div class="two">
      <div class="left">
        <div class="top">
          <div class="step">
            Design Options
          </div>
          <div class="nrcrt">
            02
          </div>
        </div>
        <p class="description">
          Our designer will get back to you with multiple design options.
        </p>
      </div>
      <div class="right">
        <owl-carousel-o [options]="customOptions" class="carousel">
          <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
              <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <img
          src="/assets/images/ellipse-01.svg"
          alt="ellipse02"
          class="ellipse02"
        />
      </div>
    </div>

    <!-- Three -->
    <div class="three">
      <div class="left">
        <img src="/assets/images/02.png" alt="02" class="img02" />
        <img
          src="/assets/images/ellipse-01.svg"
          alt="ellipse01"
          class="ellipse01"
        />
      </div>
      <div class="right">
        <div class="top">
          <div class="nrcrt">
            03
          </div>
          <div class="step">
            Pick the Winner
          </div>
        </div>
        <p class="description">
          Pick the winner and proceed to production. Prices start as low as
          <b>$.99</b>
          per pair of socks
        </p>
        <button class="btn btn-green">Get Started</button>
      </div>
    </div>

    <!-- FOUR -->
    <div class="four">
      <div class="left">
        <div class="top">
          <div class="step">
            Get your socks at mail
          </div>
          <div class="nrcrt">
            04
          </div>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At amet
          aliquet posuere viverra nunc, a. Fames quam facilisis quam facilisi
          pellentesque facilisi posuere consectetur.
        </p>
      </div>
      <div class="right">
        <img src="/assets/images/04.png" alt="04" class="img04" />

        <img
          src="/assets/images/ellipse-01.svg"
          alt="ellipse02"
          class="ellipse02"
        />
      </div>
    </div>
  </div>
  <div class="vector">
    <img
      src="/assets/images/ellipse-01.svg"
      alt="ellipse"
      class="ellipse-vector"
    />
  </div>
</div>
