<div class="form-group">
  <div class="names">
    <div class="firstname">
      <label for="fname">First Name</label>
      <input type="text" id="fname" />
    </div>
    <div class="lastname">
      <label for="lname">Last Name</label>
      <input type="text" id="lname" />
    </div>
  </div>

  <div class="details">
    <div class="email">
      <label for="email">Email</label>
      <input type="email" id="email" />
    </div>

    <div class="phone">
      <label for="phone">Phone</label>
      <div class="phone__input">
        <select>
          <option value="+1">
            <img src="/assets/images/america.png" /> +1
          </option>
          <option value="+4">+4</option>
          <option value="+11">+11</option>
          <option value="+401">+401</option>
          <option value="+55">+55</option>
        </select>
        <input type="tel" id="phone" />
      </div>
    </div>
  </div>

  <div class="uploader">
    <div class="files">
      <div class="uploaded">
        <div>ORDER_ID_idea1.jpg</div>
        <div>
          <img src="/assets/images/Tick.svg" />
          <img src="/assets/images/Union.svg" />
        </div>
      </div>
      <div class="uploaded">
        <div>ORDER_ID_idea2.jpg</div>
        <div>
          <img src="/assets/images/progress-bar.svg" />
        </div>
      </div>
    </div>
    <div class="button">
      <label for="file" class="btn">Browse Files</label>
      <input type="file" id="file" style="display: none;" />
    </div>
    <div class="description">
      <p>Max file size is 12MB.</p>
      <p>
        Allowed extensions: .JPEG, .JPG, .PNG, .AO, .EPS, .PSD, .TIFF, and .PDF
      </p>
    </div>
  </div>
</div>
