.form-group {
  margin-bottom: 2.75rem;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
  }

  input {
    width: 22.5rem;
    height: 3rem;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;

    @media only screen and (max-width: 375px) {
      width: auto;
      margin-bottom: 1rem;
    }
  }

  label {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #4a4a4a;
  }
}

.names {
  display: flex;
  margin-bottom: 1rem;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
    margin-bottom: 0;
  }

  .firstname {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

    @media only screen and (max-width: 375px) {
      margin-right: 0;
    }
  }

  .lastname {
    display: flex;
    flex-direction: column;
  }
}

.details {
  display: flex;
  margin-bottom: 2.25rem;

  @media only screen and (max-width: 375px) {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .email {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

    @media only screen and (max-width: 375px) {
      margin-right: 0;
    }
  }

  .phone {
    display: flex;
    flex-direction: column;

    input {
      width: 17.8rem;
      border-radius: 0 3px 3px 0;
      border-left: none;

      @media only screen and (max-width: 375px) {
        width: auto;
      }
    }

    select {
      width: 4.7rem;
      height: 3rem;
      border: 1px solid #d8d8d8;
      box-sizing: border-box;
      border-radius: 3px 0 0 3px;
      border-right: none;
      outline: none;
      appearance: none;
      font-size: 1rem;
      line-height: 1.25rem;

      text-align: right;

      @media only screen and (max-width: 375px) {
        width: 7.7rem;
      }
    }
  }
}

.uploader {
  padding: 1.5625rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46.875rem;
  height: 12.75rem;
  border: 2px dashed #d8d8d8;
  box-sizing: border-box;
  border-radius: 3px;
  background: #ffffff;

  @media only screen and (max-width: 375px) {
    width: auto;
    width: 20.9375rem;
    height: 14.0625rem;
  }

  .files {
    width: 100%;
    margin-bottom: 1.5625rem;

    @media only screen and (max-width: 375px) {
      display: none;
    }

    .uploaded {
      display: flex;
      justify-content: space-between;

      img {
        margin-right: 0.5rem;
      }
    }
  }

  .button {
    margin-bottom: 0.5rem;

    @media only screen and (max-width: 375px) {
      margin-top: auto;
    }

    label {
      line-height: 2rem;
      border: 1px solid #000000;
    }
  }

  .description {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 130%;
      text-align: center;
      color: #979797;
      margin-bottom: 0;

      @media only screen and (max-width: 375px) {
        display: none;
      }
    }
  }
}
