<div class="header">
  <div class="background__mobile"></div>
  <div class="content">
    <h1 class="title">Your Brand’s Custom Socks</h1>
    <p class="description">
      Imagine have the same designers and factories make socks for Nike.
    </p>
    <button class="btn btn-green">Get Started</button>
  </div>
  <div class="arrow">
    <img src="/assets/images/arrow-white-down.svg" alt="white down arrow" />
  </div>
</div>
