.header {
  background-image: url("/assets/images/header-background.png");
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;

  @media only screen and (max-width: 1112px) {
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 375px) {
    background-image: none;
    background: radial-gradient(
      65.33% 276.2% at 87.64% 30.22%,
      #b4b4b4 0%,
      #b9b9b9 100%
    );
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 9.25rem 0 14.1875rem 9.125rem;
  height: 42.875rem;
  width: 90rem;

  @media only screen and (max-width: 1112px) {
    padding: 6.875rem 0 6.875rem 5.375rem;
    width: auto;
    height: auto;
  }

  @media only screen and (max-width: 375px) {
    padding: 0.625rem 1.25rem 2.5rem 1.25rem;
    align-items: center;
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 3.875rem;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 1.3125rem;
  width: 34.25rem;
  text-transform: capitalize;

  @media only screen and (max-width: 375px) {
    font-size: 23px;
    line-height: 120%;
    text-align: center;
    width: 12rem;
  }
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: #000000;
  margin-bottom: 2rem;
  width: 27.8125rem;

  @media only screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 23px;
    text-align: center;
  }

  @media only screen and (max-width: 375px) {
    width: auto;
  }
}

.background__mobile {
  display: none;

  @media only screen and (max-width: 375px) {
    display: block;
    width: 23.4375rem;
    height: 16.875rem;
    background-image: url("/assets/images/header-background-mobile.png");
  }
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10rem;
  border: 2px solid #ffffff;
  background-color: #39c464;
  transform: translate(0, 1.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media only screen and (max-width: 1112px) {
    transform: translate(34.75rem, -1.25rem);
  }

  @media only screen and (max-width: 375px) {
    display: none;
  }
}
