<div class="container">
  <p class="container__title">Trusted By</p>
  <div class="brands">
    <div class="brands__logo">
      <img src="assets/images/gucci-logo.svg" alt="gucci" />
    </div>
    <div class="brands__logo">
      <img src="assets/images/adidas-logo.svg" alt="adidas" />
    </div>
    <div class="brands__logo">
      <img src="/assets/images/nike-logo.svg" alt="Nike" />
    </div>
    <div class="brands__logo">
      <img src="assets/images/th-logo.svg" alt="Tommy Hilfiger" />
    </div>
    <div class="brands__logo">
      <img src="assets/images/rl-logo.svg" alt="Ralph Lauren" />
    </div>
    <div class="brands__logo">
      <img src="assets/images/coachny-logo.svg" alt="Coach" />
    </div>
  </div>
</div>
