.container {
  padding: 3rem 8.4375rem 5rem 8.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1112px) {
    padding: 0 5.375rem 4.25rem 5.375rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 3rem 1.25rem;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4375rem;
    text-align: center;
    text-transform: capitalize;

    @media only screen and (max-width: 375px) {
      margin-bottom: 4rem;
    }
  }
}

.brands {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  @media only screen and (max-width: 375px) {
    flex-wrap: wrap;
  }

  &__logo {
    padding: 1.6rem 3.2rem;

    @media only screen and (max-width: 1112px) {
      width: 8.25rem;
      height: 6.5625rem;
      padding: 0.75rem 1.625rem;

      &:not(:last-child) {
        margin-right: 1.875rem;

        @media only screen and (max-width: 375px) {
          margin-right: 0;
        }
      }

      @media only screen and (max-width: 375px) {
        margin-bottom: 2rem;
      }
    }

    img {
      @media only screen and (max-width: 1112px) {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
