/* You can add global styles to this file, and also import other style files */

* {
  font-family: "montserrat";
}

// html {
//   font-size: 62.5%;
// }

body {
  min-height: 100vh;
  //margin: auto;
}

.btn {
  //border: 1px solid #000000;
  //border-radius: 3px;
  width: 11.5rem;
  height: 2.875rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.btn-big {
  width: 17.5rem;
}

.btn-green {
  background-color: #40a960;
  color: #ffffff;
}
