.img {
  background-image: url("/assets/images/nav-screenshot.png");
  width: 100%;
  height: 5rem;
  background-size: cover;

  @media only screen and (max-width: 1112px) {
    background-size: contain;
    background-repeat: no-repeat;
    height: 4rem;
  }

  @media only screen and (max-width: 375px) {
    background-image: url("/assets/images/nav-screenshot-mobile.png");

    height: 3.75rem;
  }
}
