.artwork {
  background-color: #f9f9f9;

  button {
    cursor: pointer;
  }

  @media only screen and (max-width: 375px) {
  }
}

.content {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 9.375rem 6.25rem 9.375rem;
  margin: 0 auto;

  @media only screen and (max-width: 1112px) {
    width: auto;
    padding: 3.75rem 4.4375rem 6.25rem 4.4375rem;
  }

  @media only screen and (max-width: 375px) {
    padding: 3.125rem 1.25rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .thumbnail {
    display: flex;
    align-items: center;
    width: 100%;

    .line {
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
    }

    .image {
      width: 11.25rem;
      height: 11.25rem;
      border-radius: 10rem;
      background-image: url("/src/assets/images/avatar.png");
      background-size: cover;
      margin-bottom: 2rem;
    }
  }

  .description {
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.25rem;
    text-align: center;
    color: #4a4a4a;
    width: 40rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 1112px) {
      width: auto;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
