<div class="artwork">
  <div class="content">
    <div class="header">
      <div class="thumbnail">
        <div class="line"></div>
        <div>
          <img class="image" src="/assets/images/avatar.png" />
        </div>
        <div class="line"></div>
      </div>
      <p class="description">
        Hey! Please provide your awesome artwork and email. Our designers will
        get back to you in 24 hours.
      </p>
    </div>
    <div class="form">
      <app-upload></app-upload>
    </div>
    <button class="btn btn-big btn-green">Next</button>
  </div>
</div>
